.axis path,
.axis line{
	fill: none;
	stroke: black;
}

.line{
	fill: none;
	stroke: blue;
	stroke-width: 3px;
}

.tick text{
	font-size: 12px;
}

.tick line{
	opacity: 0.2;
}

.item{
	stroke-width: 2px;
	stroke: black;
}

.item:hover{
	fill-opacity: 0.6;
}
.LSD{
	fill: green;
	stroke: green;
}

.Marijuana{
	fill: rgb(128,193,52);
	stroke: rgb(128,193,52);
}

.Heroin{
	fill: rgb(255, 0, 0);
	stroke: rgb(255, 0, 0);
}

.Alcohol{
	fill: rgb(19, 19, 140);
	stroke: rgb(19, 19, 140);
}

.Nicotine{
	fill: rgb(140,73,36);
	stroke: rgb(140,73,36);
}

.Barbiturates{
	fill: rgb(111, 111, 25);
	stroke: rgb(111, 111, 25);
}

.MDMA{
	fill: darkmagenta;
	stroke: darkmagenta;
}

.Cocaine{
	fill: rgb(103, 185, 208);
	stroke: rgb(103, 185, 208);
}