.axis path,
.axis line{
	fill: none;
	stroke: black;
}

.axis text{
	font-size: 12px;
	font-family: Arial;
}

.line{
	fill: none;
	stroke: blue;
	stroke-width: 3px;
}

.tick text{
	font-size: 12px;
}

.tick line{
	opacity: 0.2;
}

.bubble.fixed .item{
	opacity: 1 !important;
	fill-opacity: 1 !important;
}

.bubble text{
	font-family: Arial;
	font-size: 14px;
}

.item{
	fill-opacity: 0.8;
}

.item:hover{
	fill-opacity: 1;
	stroke: black;
	stroke-width: 1px;
	stroke-opacity: 0.7;
}


.LSD{
	fill: green;
	stroke: green;
}

.Marijuana{
	fill: rgb(128,193,52);
	stroke: rgb(128,193,52);
}

.Heroin{
	fill: rgb(255, 0, 0);
	stroke: rgb(255, 0, 0);
}

.Alcohol{
	fill: rgb(19, 19, 140);
	stroke: rgb(19, 19, 140);
}

.Nicotine{
	fill: rgb(140,73,36);
	stroke: rgb(140,73,36);
}

.Barbiturates{
	fill: rgb(111, 111, 25);
	stroke: rgb(111, 111, 25);
}

.MDMA{
	fill: darkmagenta;
	stroke: darkmagenta;
}

.Cocaine{
	fill: rgb(103, 185, 208);
	stroke: rgb(103, 185, 208);
}