body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

a{
  color: #1D1D5C;
}

a:hover{
  color: #A00808;
}

a:visited{
  color: #720C23;
}

.b-list{
  margin-bottom: 20px;
}

.b-list ol{
  margin-bottom: 5px;
}