/* Стили для заглавных страниц */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	background: #eee;
	margin: 0;
}


h1 {
	font-size: 32px;
	margin-top: 5px;
}


a {
	color: #1D1D5C;
}

a:hover {
	color: #A00808;
}

a:visited {
	color: #720C23;
}

.b-list {
	margin-bottom: 20px;
}

.b-list ol {
	margin-bottom: 5px;
}

.b-container {
	max-width: 920px;
	padding: 20px;
	margin: 0 auto;
	background: white;
}