.b-inner{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

.b-inner a{
  color: #1D1D5C;
}

.b-inner a:hover{
  color: #A00808;
}

.b-inner a:visited{
  color: #720C23;
}

.b-footer{
	margin-left: 30px;
}