body{
	padding-bottom: 60px;
}

.b-inner{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

.b-inner a{
  color: #1D1D5C;
}

.b-inner a:hover{
  color: #A00808;
}

.b-inner a:visited{
  color: #720C23;
}

.b-footer{
	margin-left: 30px;
}

.b-container{
	max-width: 960px;
	margin: 0 auto;
}

aside{
	position: fixed;
	width: 120px;
	padding-right: 0;
	height: 80px;
	top: 0;
	right: 0;
}

aside .b-icon_aside{
	display: block;
	width: 12px;
	height: 12px;
	background: #6D0C0C;
	top: 5px;
	right: 5px;
	position: absolute;
	cursor: pointer;
	border-radius: 3px;
}

aside.active .b-icon_aside{
	background: #226D0C;
}

aside .b-inner{
	transition: all 0.1s ease;
	background: rgba(100, 100, 20, 0.3);
	padding: 10px;
	opacity: 0;
	font-size: 12px;
}

aside:hover .b-inner,
aside.active .b-inner{
	opacity: 1;
}
