.yAxis path,
.yAxis line,
.xAxis path,
.xAxis line {
  fill: none;
  stroke: #000;
  shape-rendering: geometricPrecision;
}

.yAxis text{
	font:10px sans-serif;
}

.xAxis text{
	font:14px sans-serif;
}
