.axis path,
.axis line{
	fill: none;
	stroke: black;
}

.line{
	fill: none;
	stroke: blue;
	stroke-width: 2px;
}

.tick text{
	font-size: 12px;
}

.tick line{
	opacity: 0.2;
}

input {
	outline: none;
	border: none;
	border-bottom: solid 1px #eee;
}