.b-code-area {
  width: 100%;
  border: none;
}
.b-code-area--in {
  background: rgba(1, 1, 51, 0.65);
  color: white;
  font-family: monospace;
  font-size: 12px;
  resize: none;
  height: 600px;
}
.b-code-area--out {
  background: #eee;
  color: black  ;
  font-family: monospace;
  font-size: 12px;
  height: 600px;
}
.b-code--debug {
  height: 30px;
}
.b-code--debug input {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: -1px;
}
.cell {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 3px;
  background: gray;
}
#PlayPane {
  display: block;
}
#Code {
  display: none;
}
.glyphicon {
  cursor: pointer;
}
#Go {
  float: left;
}
.row {
  height: 20px;
  margin-bottom: 3px;
}
.actionList {
  height: 50px;
}
.b-players {
  padding: 0;
  margin: 0;
  list-style: none;
}
.b-players li {
  white-space: nowrap;
  margin-bottom: 10px;
}
.b-players li input {
  display: inline-block;
  width: 80%;
  margin: 0 5px;
}
.b-players .glyphicon {
  font-size: 22px;
  display: inline-block;
  margin: 0 5px;
  position: relative;
  top: 6px;
}
canvas {
  border: solid 1px gray;
  width: 100%;
  min-height: 300px;
}
footer {
  margin-top: 20px;
}
